nav{
font-family: sans-serif; color: #FFA500
}
h1{font-family: sans-serif; color: #8B0000
}
h5{font-family: sans-serif; color: #FFA500

}
p{font-family: sans-serif; color: #333333

}
h4{ font-family: sans-serif; color: #8B0000}
h3{ font-family: sans-serif; color: #8B0000

}
h2{font-family: sans-serif; color: #333333

}
